a{
    color: #f8f9fa;
    text-decoration: none;
    background-color: transparent;
    opacity: 0.8;
}

a:hover{
    text-decoration: none;
    color: #f8f9fa;
    opacity: 1;
}

body, html {
    height: 100%;
    /*background: #6b5b95;*/
}

nav.ld-dark, footer.ld-dark{
    background-color: #222;
    border-color: #080808;
}

.carousel-item {
    height: 100%;
}
.carousel-item a{
    margin: auto;
}

.home .jumbotron{
    margin: auto;
    background-color: transparent;
    color: #f8f9fa;
    text-align: center;
}

.inner-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.inner-container div{
    width: 100%;
}

.home .bg{
    background-image: url("img/truedamage.jpg");
}

.sign-up .bg{
    background-image: url("img/lucian.jpg");
}

.watch-live .bg{
    background-image: url("img/shen.jpg");
}

.about .bg{
    background-image: url("img/kayle.jpg");
}

.bg{
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height: calc(100vh - 116px);
    width: 100%;
}

.home button{
    display: flex;
    align-items: center;
    margin: auto;
}

.home button:before{
    background-image: url("img/discord-logo-white.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4rem;
    height: 4rem;
    content: "";
    display: block;
}

.home button:hover:before{
    background-image: url("img/discord-logo-color.png");
}
.watch-live .inner-container{
    padding: 5rem 5rem;
}

.about{
    background-color: #6b5b95;
}


#twitch-embed{
    height: calc(100vh - 20rem);
}

.carousel-inner{
    height: 100%;
}

/* over riding bootstrap css */

.carousel{
    /*height: calc(100% - 56px)*/
}

.btn {
    border-radius: 4rem;
    padding: 1.375rem 2.75rem;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
}

footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

footer ul li{
    float: left;
    margin: 1rem 1rem 0rem 1rem;
}

.social ul{
    
    
}

.social ul li{
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    content: "";
    display: block;
    
    
    
    border-radius: 50%;
}

.social ul .twitter{
    background-image: url("img/twitter.png");
}

.social ul .facebook{
    background-image: url("img/facebook.png");
}

.social ul .youtube{
    background-image: url("img/youtube.png");
}

.social ul .twitch{
    background-image: url("img/twitch.png");
}

.contact ul li, .copyright{
    color: #fff;
}

.copyright{
    opacity: 0.5;
}

.btn-outline-light:hover {
    color: #6A87E8;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: .5rem;
    }

    .navbar-expand-lg .navbar-nav {
        margin: auto;
    }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: max-content;
    }
}


/* ------------------------- */





