a{
    color: #f8f9fa;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    text-decoration: none;
    color: #f8f9fa;
}

body, html {
    height: 100%;
    /*background: #6b5b95;*/
}

.carousel-item {
    height: 100%;
}
.carousel-item a{
    margin: auto;
}

.home .jumbotron{
    margin: auto;
    background-color: transparent;
    color: #f8f9fa;
    text-align: center;
}

.inner-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.inner-container div{
    width: 100%;
}

.home .bg{
    background-image: url("img/truedamage.jpg");
}

.sign-up .bg{
    background-image: url("img/lucian.jpg");
}

.watch-live .bg{
    background-image: url("img/arena.jpg");
}

.bg{
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
}


.home button{
    display: flex;
    align-items: center;
    margin: auto;
}

.home button:before{
    background-image: url("img/discord-logo-white.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4rem;
    height: 4rem;
    content: "";
    display: block;
}

.home button:hover:before{
    background-image: url("img/discord-logo-color.png");
}
.watch-live div{
    padding: 10rem 10rem;
}

.about{
    background-color: #6b5b95;
}


#twitch-embed{
    height:100%;
}

.carousel-inner{
    height: 100%;
}

/* over riding bootstrap css */

.carousel{
    height: calc(100% - 56px)
}

.btn {
    border-radius: 4rem;
    padding: 1.375rem 2.75rem;
}

.btn-outline-light:hover {
    color: #6A87E8;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: .5rem;
    }

    .navbar-expand-lg .navbar-nav {
        margin: auto;
    }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: max-content;
    }
}


/* ------------------------- */



